= form_for @form, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'

  .control-group
    = f.label :cancel_url, :class => 'control-label'
    .controls
      = f.text_field :cancel_url, :class => 'text_field'

  .control-group
    = f.label :first_step_id, :class => 'control-label'
    .controls
      = f.text_field :first_step_id, :class => 'text_field'

  .control-group
    = f.label :last_step_id, :class => 'control-label'
    .controls
      = f.text_field :last_step_id, :class => 'text_field'

  .control-group
    = f.label :element, :class => 'control-label'
    .controls
      = f.text_field :element, :class => 'text_field'

  .control-group
    = f.label :redirect_to, :class => 'control-label'
    .controls
      = f.text_field :redirect_to, :class => 'text_field'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), forms_path, :class => 'btn'
